#btns {
  margin: 0 5px;
  width: max-content;
  border-radius: 80px;
  text-decoration: none;
  color: rgb(247, 247, 247);
}
.contact {
  border-radius: 30px;
  margin: 10px;
  text-decoration: none;
}
.nav-car {
  max-width: max-content;
  max-height: max-content;
  margin-top: 20px;
}
#nav {
  margin-right: 300px;
}
.pad {
  padding-top: 40px;
}
#bg {
  background-size: 600% 100%;
  background-repeat: "no-repeat";
}
.nav-link {
  text-align: center;
  margin: 0 15px;
  border-width: 0;
  border-style: none;
  border-radius: 80px;
  text-decoration: none;
}
.nav-link:hover {
  background-color: rgb(250, 250, 250);
}
.login-card {
  background: url("https://newevolutiondesigns.com/images/freebies/cool-wallpaper-3.jpg"),
    linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
  width: 100%;
  height: 100vh;
  padding-top: 160px;
  align-content: center;
  text-align: center;
  color: white;
  background-size: cover;
  background-blend-mode: hard-light;
  animation: hue-rotate 3s linear;
}
.about {
  padding: 10px;
  background: repeating-radial-gradient(
    circle at 0 0,
    rgb(48, 223, 247),
    #ccc 50px
  );
  font-weight: bolder;
  max-width: 100%;
  border-radius: 50px;
  height: max-content;

  align-content: flex-start;
}
.list {
  padding: 20px 40px;
}
.bgimg {
  align-items: center;
  height: max-content;
  background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%);
  border-radius: 30px;
  color: #fff;
  background: -webkit-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%),
    -webkit-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: -o-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%),
    -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: -moz-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%),
    -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%),
    radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
}
.signout {
  font-size: 3rem;

  margin-left: 550px;
}
#title {
  text-align: center;
  font-size: 2rem;
}
.signing {
  padding-top: 260px;
  width: 100%;
  height: 600px;
  color: #ccc;
  top: 10pxx;
  left: 0px;
  height: 610px;
  width: 100%;
  border-radius: 50px;

  background: #9b59b6;

  background: radial-gradient(at center, #3498db, #9b59b6);
}
.divi {
  padding-top: 40px;
  text-align: center;
  vertical-align: middle;
  height: auto;
  background: linear-gradient(270deg, #12dea9, #b047f3);
}
.divitwo {
  padding-top: 100px;
  text-align: center;
  vertical-align: middle;
  height: 600px;
  background: linear-gradient(270deg, #d7e4e1, #efa12d);
}
.conatainertwo {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  padding-top: 100px;
  height: 600px;
  text-align: center;
}
.compo {
  padding-left: 40px;
}
