task {
  color: rgb(7, 7, 7);
  width: 350px;
  margin: 20px auto;
  height: 40px;

  background-color: #f3f0f0;
}
task p {
  padding: 10px;
  position: relative;
  transition: ease-in-out;
}
task p input {
  background-color: transparent;
  border: 0;
  color: rgb(8, 8, 8);
  font-size: 18px;
}
task p input:focus {
  outline: none;
}
task p span {
  position: absolute;
  right: 10px;
}
.favicons {
  margin: 0 5px;
  font-size: 15px;
  cursor: pointer;
  max-height: 40px;
  background-color: #24b2f3;
}
.itemsAnim-enter {
  opacity: 0.01;
}
.itemsAnim-enter .itemsAnim-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.itemsAnim-leave {
  opacity: 1;
}
.itemsAnim-leave .itemsAnim-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
